/* Add this to your CSS */
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Rest of your CSS remains unchanged... */

.banner-area {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 120px 0 0px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  @media (max-width: 991.98px) {
    padding: 100px 0 0px;
  }

  // &::before{
  //     content: '';
  //     position: absolute;
  //     right: 0;
  //     top: 0;
  //     background-image: url(../image/baner-bg.png);
  //     background-repeat: no-repeat;
  //     background-position: center bottom;
  //     background-size: cover;
  //     width: 1300px;
  //     height: 800px;
  //     z-index: -1;
  //     @media (max-width: 1199.98px){
  //         width: 916px;
  //         height: 636px;
  //     }
  // }
  .btn-lg {
    margin-top: 50px;
    @media (max-width: 991.98px) {
      margin-top: 30px;
    }
  }
}
.banner-text {
  h1 {
    font-size: 110px;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #2b143a;
    @media (max-width: 1400.98px) {
      font-size: 93px;
    }
    @media (max-width: 1199.98px) {
      font-size: 80px;
    }
    @media (max-width: 767.98px) {
      font-size: 60px;
    }
  }
}

@media (max-width: 991.98px) {
  .banner-img {
    margin-top: 30px;
  }
}

.banner-shape {
  border: 2px solid #ffa2a2;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  position: absolute;
  left: 95px;
  @media (max-width: 991.98px) {
    display: none;
  }
}
.banner-shape2 {
  background: #65c6f6;
  width: 12px;
  height: 13px;
  border-radius: 100px;
  align-items: end;
  align-self: center;
  margin-top: 47px;
  margin-right: 15px;
  transform: translateX(-24px);
  @media (max-width: 991.98px) {
    display: none;
  }
}
