.footer-area {
    background: #F8F6F6;

}

.footer-list-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 991.98px){
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
    ul {
        display: grid;
        gap: 10px;
        margin-top: 30px;
    }

    li {
        a {
            font-family: "Inconsolata-Bold";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: #000000;
            &:hover{
                color: #FF5A46;
            }
        }
    }
}

.footer-widget {
    padding: 100px 0 70px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 0 60px;

    a {
        filter: drop-shadow(5px 2px 5px rgba(255, 89, 70, 0.349));
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        background: #fff;
        border-radius: 100px;
        font-size: 20px;
        align-items: center;
        color: #FF5A46;
        transition: all .3s linear;

        &:hover {
            background-color: #FF5A46;
            color: #fff;
        }
    }
}

.copyright-content {
    padding-bottom: 25px;

    p {
        font-size: 15px;
        color: #858585;

    }
}